<md-bottom-sheet class="md-list md-has-header">
    <md-list>
        <md-item>
            <md-button aria-label="Subscribe feed" ng-click="showFeedSubscribeDialog($event)">
                <md-inline-list-icon><i class="fa fa-rss"></i></md-inline-list-icon>
                <span class="md-inline-list-icon-label">Feed</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button aria-label="Add category">
                <md-inline-list-icon><i class="fa fa-folder"></i></md-inline-list-icon>
                <span class="md-inline-list-icon-label">Category</span>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>