<md-list ng-controller="EntriesController">
    <md-item ng-repeat="entry in entries" ng-controller="EntryController">
        <md-item-content ng-class="{'toggled': isExpanded(entry)}">
            <div class="md-tile-left">
                <entry-feed></entry-feed>
            </div>
            <div class="md-tile-content" ng-click="expand(entry)">
                <entry-content></entry-content>
            </div>
            <div class="md-tile-right">
                <entry-details></entry-details>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>