<!doctype html>
<html class="no-js" lang="en" ng-app="QuidNovi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quid Novi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body layout="column" ng-controller="AppController">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<md-toolbar layout="row" class="md-whiteframe-z2">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visually-hidden">Menu</span>
    </button>
    <a ng-href="#/entries"><h1>Quid Novi</h1></a>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column"
                layout-align="space-between"
                class="md-sidenav-left md-whiteframe-z1"
                md-component-id="left"
                md-is-locked-open="$media('gt-sm')">
        <ul class="menu">
            <li ng-repeat="section in sections">
                <menu-link section="section"></menu-link>
            </li>
            <md-divider></md-divider>
            <li ng-repeat="category in root.categories">
                <menu-toggle section="category"></menu-toggle>
            </li>
            <li ng-repeat="feed in root.feeds">
                <menu-link section="feed"></menu-link>
            </li>
        </ul>
        <div class="actions">
            <md-divider></md-divider>
            <md-button aria-label="Add item" ng-click="showListBottomSheet($event)">
                <i class="fa fa-plus"></i> Add
            </md-button>
        </div>
    </md-sidenav>

    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <ng-view></ng-view>
        </md-content>
    </div>
</div>
<!-- End of Main layout -->

<!-- JavaScript dependencies -->
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- ngRoute -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
<!-- ngResource -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
<!-- ngAnimate -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
<!-- ngAria -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-aria.min.js"></script>
<!-- Angular material -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
<!-- End of JavaScript dependencies -->

<script src="js/qnEntry.js"></script>
<script src="js/qnFeed.js"></script>
<script src="js/qnCategory.js"></script>
<script src="js/qnApp.js"></script>
</body>
</html>